html {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #0d052a;
}

body {
  font-family: 'Manrope', sans-serif;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  float: center;
  width: 40%;
}

#content-container {
  padding: 8px;
  border: 1px dashed white;
  border-top: none;
  border-bottom: none;
}

section {
  page-break-after: auto;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

#connect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

li:hover {
  border: 1px solid #d5003d;
  border-radius: 10px;
  transition: 0.5s;
}

li a {
  color: #96979c;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-style: italic;
}

li a:hover {
  text-decoration: underline;
  color: #d5003d;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: 'Manrope', sans-serif;
  margin-bottom: 2px;
}

.subheading {
  color: #96979c;
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
  margin-top: -10px;
}

.infobox {
  color: #96979c;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: italic;
}

h1 span {
  position: relative;
  z-index: 1;
}

h1 span::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -2px;
  right: -2px;
  background-color: #d5003d;
  opacity: 90%;
  transform: skew(-15deg, -2deg);
  z-index: -1;
}

p {
  color: white;
  font-size: 20px;
  margin-top: -8px;
}

button {
  display: inline-flex;
  margin: 4px;
  margin-bottom: 20px;
  background-color: #0d052a;
  font-size: 20px;
  color: #96979c;
  border: 1px solid #96979c;
  border-radius: 4px;
  padding: 12px;
  min-height: 30px;
  cursor: pointer;
}

button:hover {
  color: #d5003d;
  border: 1px solid #d5003d;
  border-radius: 4px;
  transition: 0.5s;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #d5003d;
  transition: 0.5s;
}

.photo {
  display: flex;
  border: none;
  border-radius: 50%;
  max-width: 175px;
  margin-bottom: 14px;
}

.photo:hover {
  transform: rotate(20deg);
  transition: 0.5s;
}

.icons {
  font-size: 36px;
  padding: 4px;
}

.footer-text {
  background-color: #0d052a;
  font-size: 11px;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}
