---
import Layout from '../layouts/layout.astro';
---

<Layout title="About">
    <section class="about">
        <div class="about-image">
            <img src="/New.jpg" alt="jiggyflyjoe's profile photo." />
        </div>
        <div class="about-text">
            <h1>About <span class="accent"><em>jiggyflyjoe</em></span></h1>
            <p>I'm <strong>jiggyflyjoe</strong>. You can call me Joe or “jiggy” if you'd like. “jiggly” is incorrect, but also fine. I'm an introvert and “neurospicy” web creator who has been “chronically online” since my teen years. Now I use the internet to build websites, learn how to code, and occasionally threaten to livestream on Twitch again (you can find me as <a href="https://twitch.tv/jiggyflyjoe" target="_blank"><strong>@jiggyflyjoe</strong></a> over there when I'm feeling brave). I love technology, clean design, and the kind of problem-solving that makes you want to flip a desk and then suddenly realize, “Oh! <em>That's</em> how you do that...”</p>
            <p>Presently, I'm focused on leveling up my web development and programming skills, learning HTML, CSS, JavaScript, and whatever else I can get my hands on. I've been trying to build projects that shine, and slowly stacking skills so I can land a solid job in the gaming or tech industries. That's the dream! I'm also deep into self-hosting and home server experiments. If it can run on my old PC and make my family's digital life slightly less dependent on Big Tech, I probably want to try it. Even if it does result in chaos from configuring reverse proxies at 1:00 am. 🫠</p>
            <p>I'm also a gamer, content creator, blogger, media enthusiast, and very proud cat dad of four handsome felines.So when I'm not coding or tinkering, you can usually find me playing video games, posting “fail” clips to my <a href="https://tiktok.com/@jiggyflyjoe" target="_blank">TikTok</a> and <a href="https://youtube.com/@jiggyflyjoe" target="_blank">YouTube</a> channels, microblogging (or just regular blogging) on the <a href="https://atproto.com" target="_blank">AT Protocol</a>, or just snuggling with my furry best friends <strong>Tigger, Rufus, Cinnamon,</strong> and <strong>Inky</strong>.</p>
            <p>If you're here because of my content or projects, welcome! If you're here because you already know me... Thanks for sticking around! I'm probably debugging something, putting final touches on something, or convincing myself that this is the week I'll become ultra-consistent on Twitch!</p>
            <p>If you think you can vibe with me and my content, feel free to stick around. You can also <a href="https://www.twitch.tv/products/jiggyflyjoe" target="_blank">subscribe to my Twitch channel</a> for ad-free viewing and some other perks for $5.99 a month! And if you'd like to know more about what I'm currently up to, check out <a href="/now">my Now page!</a> Interested in getting in touch? Check out the <a href="/contact">Contact page</a> for all the ways you can reach out. I'm also always reachable at <a href="mailto:joe@jiggyflyjoe.com">joe@jiggyflyjoe.com</a>!</p>
        </div>
    </section>
</Layout>