---
import Layout from '../layouts/layout.astro';
---

<Layout title="Contact">
    <section class="contact">
        <h1>Let's <span class="accent"><em>Connect!</em></span></h1>
        <p class="contact-intro">Whether you want to chat, collab, or just say hey, these are the best places to find me.</p>
        <div class="linktree">
            <a href="https://bsky.app/profile/jiggyflyjoe.com" rel="me" target="_blank" class="link-card">
                <i class="fa-brands fa-bluesky"></i>
                <span>Bluesky</span>
            </a>
            <a href="https://mastodon.social/@jiggyflyjoe" rel="me" target="_blank" class="link-card">
                <i class="fa-brands fa-mastodon"></i>
                <span>Mastodon</span>
            </a>
            <a href="https://twitch.tv/jiggyflyjoe" rel="me" target="_blank" class="link-card">
                <i class="fa-brands fa-twitch"></i>
                <span>Twitch</span>
            </a>
            <a href="https://youtube.com/@jiggyflyjoe" rel="me" target="_blank" class="link-card">
                <i class="fa-brands fa-youtube"></i>
                <span>YouTube</span>
            </a>
            <a href="https://tiktok.com/@jiggyflyjoe" rel="me" target="_blank" class="link-card">
                <i class="fa-brands fa-tiktok"></i>
                <span>TikTok</span>
            </a>
            <a href="https://github.com/jiggyflyjoe" rel="me" target="_blank" class="link-card">
                <i class="fa-brands fa-github"></i>
                <span>GitHub</span>
            </a>
            <a href="https://discord.gg/k93qVPJqkt" rel="me" target="_blank" class="link-card">
                <i class="fa-brands fa-discord"></i>
                <span>Discord</span>
            </a>
            <a href="https://ko-fi.com/jiggyflyjoe" rel="me" target="_blank" class="link-card">
                <i class="fa-brands fa-ko-fi"></i>
                <span>Ko-fi</span>
            </a>
            <a href="mailto:joe@jiggyflyjoe.com" class="link-card">
                <i class="fa-solid fa-envelope"></i>
                <span>Email</span>
            </a>
        </div>
    </section>
</Layout>