---
import Layout from '../layouts/layout.astro';
---

<Layout title="Now">
    <section class="now">
        <h1>What I'm Doing <span class="accent"><em>Now...</em></span></h1>
        <p class="updated"><strong>Last updated:</strong> <em>May 24th, 2026</em></p>
        <div class="now-section">
            <h2>Enjoying 😊</h2>
            <ul>
                <li>Learning about new techie stuff.</li>
                <li>Coffee! ☕</li>
                <li>Gaming... <em>(always!)</em></li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Doing 🤔</h2>
            <ul>
                <li>Continuing my web development journey on <a href="https://freecodecamp.org" target="_blank">freeCodeCamp</a>. <em>(Attempting to make myself more hireable per the last item on this list!)</em></li>
                <li>Turning my family home server into more of a personal home server since they are not as excited about self-hosting as I am! 😂</li>
                <li>Probably snuggling a cat...</li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Reading 📖</h2>
            <ul>
                <li><a href="https://www.goodreads.com/book/show/221144756-the-shades-of-orthea" target="_blank"><em>The Shades of Orthea</em></a> by my fellow streaming pal <a href="https://www.thatviolinchick.com/" target="_blank">Hannah Gordon.</a></li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Watching 📺</h2>
            <p>Listen, I watch a lot of TV shows. Like <em>a lot</em> a lot. I'm a sucker for pretty much any series that keeps my interest. So, understand that I'm a little bit of a crazy person when it comes to shows that I'm watching. Currently, I'm tuned into:</p><br>
            <ul>
                <li>Season two of the original <em>Star Trek</em> series, as part of my epic rewatch and review! I'm nearing the end of it now and will immediately be moving into the third season. Check out my <a href="https://jiggyflyjoe.com/blog" target="_blank">blog</a> if you're interested in reading what I thought of season one!</li>
                <li>Planning to start up HBO's <a href="https://www.hbomax.com/shows/pitt-2024/e6e7bad9-d48d-4434-b334-7c651ffc4bdf" target="_blank"><em>The Pitt</em></a> very soon! I've heard nothing but praise for it.</li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Playing 🎮</h2>
            <ul>
                <li><a href="https://enshrouded.com" target="_blank"><em>Enshrouded</em></a>... I'm a sucker for what Steam describes as “open world survival crafting” games, and this one just might be my gold standard. And it's not even out of Early Access yet!</li>
                <li><a href="https://palia.com" target="_blank"><em>Palia</em></a>... Because you always need a cozy game.</li>
                <li>I also recently picked up <a href="https://playwindrose.com/" target="_blank"><em>Windrose</em></a>, which is fun but surprisingly tough!</li>
                <li>Recently also picked up <a href="https://www.farever.org/" target="_blank"><em>Farever</em></a> as a gift from my sister! Been liking it a lot!</li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Making 🧶</h2>
            <ul>
                <li>Chaos?</li>
                <li>This newly-rebuilt website!</li>
                <li>More web stuff!</li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Looking Forward To 📅</h2>
            <ul>
                <li>Bed!</li>
            </ul>
        </div>
        <p><a href="https://nownownow.com/about" target="_blank">What is a Now page???</a></p>
    </section>
</Layout>