---
import Layout from '../layouts/layout.astro';
---

<Layout title="Now">
    <section class="now">
        <h1>What I'm Doing <span class="accent"><em>Now...</em></span></h1>
        <p class="updated"><strong>Last updated:</strong> <em>March 15th, 2026</em></p>
        <div class="now-section">
            <h2>Enjoying 😊</h2>
            <ul>
                <li>Learning about new tech stuff.</li>
                <li>Coffee! ☕</li>
                <li>Gaming... <em>(always!)</em></li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Doing 🤔</h2>
            <ul>
                <li>Continuing my web development journey on <a href="https://freecodecamp.org" target="_blank">freeCodeCamp</a>. <em>(Attempting to make myself more hireable per the last item on this list!)</em></li>
                <li>Maintaining and improving tools on my family's home web server project.</li>
                <li>Looking for and applying to jobs or other revenue sources that aren't <em>completely</em> soul-crushing.</li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Reading 📖</h2>
            <ul>
                <li><a href="https://www.goodreads.com/book/show/221144756-the-shades-of-orthea" target="_blank"><em>The Shades of Orthea</em></a> by my fellow streaming pal <a href="https://www.thatviolinchick.com/" target="_blank">Hannah Gordon.</a></li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Watching 📺</h2>
            <p>Listen, I watch a lot of TV shows. Like <em>a lot</em> a lot. I'm a sucker for pretty much any series that keeps my interest. So, understand that I'm a little bit of a crazy person when it comes to shows that I'm watching. Currently, I'm tuned into:</p><br>
            <ul>
                <li>First season of the new <a href="https://abc.com/show/b775fccd-63aa-4968-b23b-aec5de29d9e0" target="_blank"><em>Scrubs</em></a> revival. Seriously, it is so good. Did any time even pass since it originally aired?</li>
                <li>Second season of <a href="https://www.amazon.com/Fallout-Season-1/dp/B0CN4GGGQ2" taret="_blank"><em>Fallout</em></a>. This one is a little bit of a slog because it never seems like it picks up until toward the end of a season. I'm still trying to get there, though!</li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Playing 🎮</h2>
            <ul>
                <li><a href="https://guildwars2.com" target="_blank"><em>Guild Wars 2</em></a>. This has sorta become my “main” MMORPG since I wanted to get into one that didn't require a subscription. Sorry <em>Warcraft</em> and <em>Final Fantasy</em> fans...</li>
                <li><a href="https://enshrouded.com" target="_blank"><em>Enshrouded</em></a>... I'm a sucker for what Steam describes as “open world survival crafting” games, and this one just might be my gold standard. And it's not even out of Early Access yet!</li>
                <li><a href="https://palia.com" target="_blank"><em>Palia</em></a>... Because you always need a cozy game.</li>
                <li>And just a little smattering of <a href="https://www.playbalatro.com/" target="_blank"><em>Balatro</em></a> on my phone. Because it is so addictive!!!</li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Making 🧶</h2>
            <ul>
                <li>Chaos?</li>
                <li>This newly-rebuilt website.</li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Looking Forward To 📅</h2>
            <ul>
                <li>A nap!</li>
            </ul>
        </div>
        <p><a href="https://nownownow.com/about" target="_blank">What is a Now page???</a></p>
    </section>
</Layout>