---
import Layout from '../layouts/layout.astro';
---

<Layout title="Now">
    <section class="now">
        <h1>What I'm Doing <span class="accent"><em>Now...</em></span></h1>
        <p class="updated"><strong>Last updated:</strong> <em>June 22nd, 2026</em></p>
        <div class="now-section">
            <h2>Enjoying 😊</h2>
            <ul>
                <li>Learning about new techie stuff.</li>
                <li>Coffee! ☕</li>
                <li>Gaming... <em>(always!)</em></li>
                <li>Keeping our little homelab alive like a mad scientist!</li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Doing 🤔</h2>
            <ul>
                <li>Continuing my web development journey on <a href="https://freecodecamp.org" target="_blank">freeCodeCamp</a>. <em>(Attempting to make myself more hireable per the last item on this list!)</em></li>
                <li>Probably snacking or snuggling with a cat.</li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Reading 📖</h2>
            <p>I'm a <em>very</em> slow reader, so you will not see the contents of this section change very often! But since you asked, right now the title(s) I'm reading are:</p>
            <ul>
                <li><a href="https://www.goodreads.com/book/show/221144756-the-shades-of-orthea" target="_blank"><em>The Shades of Orthea</em></a> by my fellow streaming pal <a href="https://www.thatviolinchick.com/" target="_blank">Hannah Gordon.</a></li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Watching 📺</h2>
            <p>Listen, I watch a lot of TV shows. Like <em>a lot</em> a lot. I'm a sucker for pretty much any series that keeps my interest. So, understand that I'm a little bit of a crazy person when it comes to shows that I'm watching. Currently, I'm tuned into:</p><br>
            <ul>
                <li>The first season of <em>Star Trek: The Animated Series</em>, as part of my epic rewatch and review of all things <em>Star Trek</em>! Check out <a href="https://jiggyflyjoe.com/blog" target="_blank">my blog</a> if you're interested in reading what I thought of the three seasons of the original <em>Star Trek</em> series!</li>
                <li>Finishing up the second and most-recent season of HBO's <a href="https://www.hbomax.com/shows/pitt-2024/e6e7bad9-d48d-4434-b334-7c651ffc4bdf" target="_blank"><em>The Pitt</em></a>. I got hooked and now I'm going to be anxiously awaiting season three!</li>
                <li>Season 19 of my favorite crime show <a href="https://www.paramountplus.com/shows/criminal_minds/" target="_blank"><em>Criminal Minds</em></a></li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Playing 🎮</h2>
            <ul>
                <li><a href="https://nomanssky.com" target="_blank"><em>No Man's Sky</em></a>. I've owned this game since its debut back in 2016 but still have less than 100 hours in it. I decided that it's time to change that!</li>
                <li><a href="https://palia.com" target="_blank"><em>Palia</a></em> because they snuck a <em>huge expansion</em> for us out of nowhere last month!</li>
                <li><a href="https://guildwars2.com" target="_blank"><em>Guild Wars 2</em></a> is my main MMO, but I've picked it back up again since ArenaNet announced that <a href="https://guildwars3.com" target="_blank"><em>Guild Wars 3</em></a> is now in development!</li>
                <li>A whoooole bunch of other games that I've acquired recently in a few bundles!</li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Making 🧶</h2>
            <ul>
                <li>Chaos?</li>
                <li>Web things.</li>
                <li><a href="https://twitch.tv/jiggyflyjoe" target="_blank">Live streams!</a></li>
                <li>More coffee, probably.</li>
            </ul>
        </div>
        <div class="now-section">
            <h2>Looking Forward To 📅</h2>
            <ul>
                <li>A nap, to be honest.</li>
                <li>See that mention of <em>Guild Wars 3</em> up above!</li>
            </ul>
        </div>
        <p><a href="https://nownownow.com/about" target="_blank">What is a Now page???</a></p>
    </section>
</Layout>